section .w .all{height:525px;margin-top:28px; border:1px solid #ccc;}
section .w .all h2{height:58px;text-align: center;line-height:58px;font-size:18px;border-bottom:1px solid #ccc;color:#666}
section .w .all .up{color:#aaa;margin-top:40px;height:384px;width:421px;border-right:1px dashed #ccc;float:left;}
section .w .all .up .first{margin-left:86px;height:42px;width:241px;border:1px solid #ccc;float:left;padding-left:8px;padding-top:10px;}
section .w .all .up .first i{font-size:22px;padding-right:6px;}
section .w .all .up .first input{color:#aaa;width:197px;height:38px;line-height:38px;color:#ccc;}
section .w .all .up .second{color:#aaa;margin:15px 86px;height:42px;width:241px;border:1px solid #ccc;float:left;padding-left:8px;padding-top:10px;}
section .w .all .up .second i{font-size:22px;padding-right:6px;}
section .w .all .up .second input{color:#aaa;width:197px;height:38px;line-height:38px}
section .w .all .up .third{color:#aaa;margin:0px 86px;height:42px;width:241px;border:1px solid #ccc;float:left;padding-left:8px;padding-top:10px;}
section .w .all .up .third i{font-size:22px;padding-right:6px;}
section .w .all .up .third input{color:#aaa;width:197px;height:38px;line-height:38px}
section .w .all .up .fourth{color:#aaa;margin:15px 86px;height:42px;width:241px;border:1px solid #ccc;float:left;padding-left:8px;padding-top:10px;}
section .w .all .up>div:hover{border:1px solid #f60;box-shadow:-2px 2px 1px #f60,2px -2px 2px #ccc; }
section .w .all .up .fourth i{font-size:22px;padding-right:6px;}
section .w .all .up .fourth input{color:#aaa;width:197px;height:38px;line-height:38px}
section .w .all .up input.last{color:#aaa;margin-right:25px;float:left;width:108px;height:38px; margin-left:86px;border:1px solid #ccc;padding-left:15px;line-height: 38px;}
section .w .all .up input.last:hover{box-shadow:-2px 2px 1px #f60,2px -2px 2px #ccc; ; }
section .w .all .up #big{font-size:28px;color:#000000;font-weight:bold;text-align:center;line-height:40px;width:99px;height:40px;display:block;background:#666666;float:right;margin-right:80px;border:1px solid #000}
section .w .all .up  .left{margin-left:86px;margin-top:15px;}
section .w .all .up  span{display:inline-block;width:56px;height:17px;line-height:17px;margin-right:80px;}
section .w .all .up  a{color:#aaa;float:right;margin-right:80px;margin-top:-20px;}
section .w .all .up  a:hover{color:#f60;}
section .w .all .up .up2{width:249px;height:40px;line-height:40px;text-align: center;background:#f60;color:#fff;margin:15px 86px;}
section .w .all .down{width:419px;height:112px;float:right;margin-top:40px;margin-left:90px;}
section .w .all .down input{width:244px;height:40px;border:1px solid #ccc;}
section .w .all .down input.iconfont{font-size: 30px;text-align:center;color:#f60;}
section .w .all .down input:hover{background:#f60;color:#fff;}
section .w .all .down span{color:#aaa;display:block;width:126px;height:17px;margin-left:150px;margin-top:30px;}
section .w .all .down span a{color:#000;}
section .w .all .down span a:hover{color:#f60;}
section  .down1{height:36px;background:#bbb;float:left;width:1500px;}
section  .down1 span{line-height:36px;height:36px;margin-left:900px;}
